.glass-replacement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 2rem;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

img {
  width: 200px;
  height: auto;
  cursor: pointer;
}

img:hover {
  border: 2px solid #fff;
}
