
.glass-replacement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  padding: 20px;
}


.main-title {
  font-size: 2.5em;
  text-decoration: underline;
  margin-bottom: 20px;
  line-height: 1.5;
}

.section-divider {
  width: 80%;
  height: 1px;
  background-color: #ccc;
}

.service-info {
  margin-bottom: 20px;
}

.carousel-container {
  z-index: 2;
}
