.glass-replacement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
}
