.navbar {
    background-color: #696969; 
    color: #ffffff; 
    padding: 15px; 
    width: 100%;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 55px;
    margin-right: 10px;
  }
  
  .nav-buttons a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-buttons a:hover {
    border-bottom: 2px solid #ffffff;
  }
  